.nav {
  font-weight: bold;
  display: flex;
  background-color: var(--clr-primary-light);
  color: var(--clr-black);
  align-items: center;
  padding: 0 1em;
  margin-bottom: 1em;
  justify-content: space-between;
}

.nav h1 {
  font-size: var(--fs-400);
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.nav li {
  font-size: var(--fs-sm);
  margin: 0 0.5em;
  text-decoration: none;
  transition-duration: 500ms;
  position: relative;
}
.nav li::after {
  content: "";
  width: 100%;
  height: 0.2em;
  background-color: var(--clr-white);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0.3em;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-in;
}
.nav li:hover::after {
  transform: scale(1);
  transform-origin: left;
}

.isActive {
  color: var(--clr-white) !important;
  transition: color 200ms ease-in;
}

.isActive::after {
  content: "";
  width: 100%;
  height: 0.2em;
  background-color: var(--clr-white);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0.3em;
  transform: scaleX(1);
}

@media (min-width: 48em) {
  .nav {
    font-size: var(--fs-p);
  }
  .nav li {
    padding-bottom: 0.2em;
  }
}
